{
    "admin": [
        "user_ids of bot admins"
    ],
    "autokick": [
        "user_ids to auto-kick from rooms"
    ]
    "token": "GroupMe API Token",
    "log": "warn",
    "bots": {
        "Listener Bot ID": {
            "bot": "Fully quailified class name of the bot",
            "mods": [
                "user_ids of bot moderators"
            ],
            "blacklist": [
                "user_ids of blacklisted users"
            ]
        }
    }
}
